<div class="container-fluid">
  <div class="row">
    <div class="large-left-bar col-md-2">
      <h3>twitterクローン</h3>
      <h4><a href="/"><img src="https://storage.googleapis.com/ttrinity/_img/product/10/10526/1571620/design_img_f_1571620_s.png" class="side-img">トップ</a></h4>
      <h4><a href="/clones"><img src="https://t.pimg.jp/035/543/793/5/35543793.jpg" class="side-img">投稿</a></h4>
      <h4><img src="https://tadworks.jp/wp-content/uploads/2020/08/profile_icon.png" class="side-img">プロフィール</h4>
    </div>
    <div class="small-left-bar col-sm-1">
      <h3><img src="https://c.tenor.com/TN5QzKICcUMAAAAM/dancing-bird.gif" class="title-img"></h3>
      <h4><a href="/"><img src="https://storage.googleapis.com/ttrinity/_img/product/10/10526/1571620/design_img_f_1571620_s.png" class="side-img"></a></h4>
      <h4><a href="/clones"><img src="https://t.pimg.jp/035/543/793/5/35543793.jpg" class="side-img"></a></h4>
      <h4><img src="https://tadworks.jp/wp-content/uploads/2020/08/profile_icon.png" class="side-img"></h4>
    </div>
    <div class="content col-md-7 col-sm-11">
      <%= form_with(model: @clone, local: true, url: confirm_clones_path) do |form| %>

      <% if @clone.errors.any? %>
      <div id="error_explanation">
        <h2><%= @clone.errors.count %>件のエラーがあります。</h2>
        <ul>
        <% @clone.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
        </div>
      <% end %>

      <%= form.label :content %>
      <br>
      <%= form.text_area :content, class: "form-area" %>
      </br>
      <%= form.submit value="Tweet"%>
      <% end %>

      <br>
      <h2>tweet</h2>
      </br>
      <p><%= notice %></p>



        <% @clones.reverse.each do |clone| %>
          <br>
          <div class="a">
            <div class="b"><td><%= clone.content %></td></div>
              <div class="c">
              <td><%= link_to "削除", clone_path(clone.id), method: :delete, data: { confirm: '本当に削除していいですか？' }, class: "btn-top" %></td>
              <td><%= link_to "編集", edit_clone_path(clone.id), class: "btn-top" %></td>
              </div>
          </div>
          </br>
          <% end %>

      </div>
    </div>

    <div class="right-bar col-md-3">
      <h3>広告とかトレンドとか表示されてる場所</h3>
    </div>
  </div>
</div>
